<%= link_to 'Home', root_path, class: 'btn btn-info' %>
<%= link_to 'About Us', about_path, class: 'btn btn-info' %>
  <%= link_to 'Browse Countries', countries_path, class: 'btn btn-primary' %>
  <%= link_to 'Explore Cities', cities_path, class: 'btn btn-primary' %>
   <%= link_to 'Weather Report', weather_reports_path, class: 'btn btn-primary' %>
<div class="container">
  <h1>About Our Data Sources</h1>
  <p>This application gathers data from public sources to display information on countries and cities. Visit the homepage to start exploring.</p>
</div>