<h1>Countries</h1>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
<%= link_to 'About Us', about_path, class: 'btn btn-info' %>
  <%= link_to 'Browse Countries', countries_path, class: 'btn btn-primary' %>
  <%= link_to 'Explore Cities', cities_path, class: 'btn btn-primary' %>
   <%= link_to 'Weather Report', weather_reports_path, class: 'btn btn-primary' %>
   <h1>All Countries</h1>
<ul>
  <% @countries.each do |country| %>
    <li><%= link_to country.name, country_path(country) %></li>
  <% end %>
</ul>
<ul>
  <% @countries.each do |country| %>
    <li>
      <%= link_to country.name, country_path(country) %> - Population: <%= country.population %>
    </li>
  <% end %>
</ul>
  <%= paginate @countries %>
<h1>Countries</h1>
<%= form_with(url: countries_path, method: :get, local: true) do |form| %>
  <%= form.label :query, "Search Countries" %>
  <%= form.text_field :query, value: params[:query] %>
  <%= form.submit "Search" %>
<% end %>
<%= render @countries %>
<%= paginate @countries %>