<h1><%= @city.name %></h1>
<p>Population: <%= @city.population %></p>
<p>Country: <%= @city.country.name %></p>

<h2>Weather Reports</h2>
<ul>
  <% @weather_reports.each do |report| %>
    <li>
      Date: <%= report.date %>, Temperature: <%= report.temperature %>°C, Description: <%= report.description %>
    </li>
  <% end %>
</ul>