<h1>Weather Reports</h1>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
<%= link_to 'About Us', about_path, class: 'btn btn-info' %>
  <%= link_to 'Browse Countries', countries_path, class: 'btn btn-primary' %>
  <%= link_to 'Explore Cities', cities_path, class: 'btn btn-primary' %>
   <%= link_to 'Weather Report', weather_reports_path, class: 'btn btn-primary' %>
<ul>
  <% @weather_reports.each do |report| %>
    <li>
      <%= report.city.name %> - <%= report.date %>: <%= report.temperature %>°C, <%= report.description %>
    </li>
  <% end %>
</ul>
<h1>Weather Reports</h1>

<%= form_with url: weather_reports_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search by Description" %>
  <%= form.text_field :query, value: params[:query] %>

  <%= form.label :start_date, "Start Date" %>
  <%= form.date_field :start_date, value: params[:start_date] %>

  <%= form.label :end_date, "End Date" %>
  <%= form.date_field :end_date, value: params[:end_date] %>

  <%= form.submit "Search" %>
<% end %>

<%= render partial: 'weather_report', collection: @weather_reports %>

<%= paginate @weather_reports %>