<h1>Weather Reports</h1>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
<%= link_to 'About Us', about_path, class: 'btn btn-info' %>
  <%= link_to 'Browse Countries', countries_path, class: 'btn btn-primary' %>
  <%= link_to 'Explore Cities', cities_path, class: 'btn btn-primary' %>
   <%= link_to 'Weather Report', weather_reports_path, class: 'btn btn-primary' %>
<ul>
  <% @weather_reports.each do |report| %>
    <li>
      <%= report.city.name %> - <%= report.date %>: <%= report.temperature %>°C, <%= report.description %>
    </li>
  <% end %>
</ul>
<%= paginate @weather_reports %>